.header-container {
  height: 60px; // this is used in /themes/menu.scss as reference for height.
  width: 100%;
  font-size: 32px;
  display: flex;
}
.header{
  width: 300px;
  background-color: #4199C7;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.track{
  width: calc(100vw - 300px);
  height: 60px;
}